@use '../base/variables';

.ant-modal-title {
    font-weight: bold !important;
    font-size: 220% !important;
    font-family: variables.$font-text-montserrat;
    background-color: variables.$bg-color-primary !important;
    line-height: 1 !important;
}

.modal .ant-modal-content {
    background-color: variables.$bg-color-primary !important;
}

.ant-modal-body {
    font-size: 150% !important;
    padding-bottom: 5% !important;
}