//Backgrounds Colors
$bg-color-primary: #fff8eb;
$bg-color-secondary: #232323;

//Colors
$color-main: #ffc858;
$color-secondary: #ffffff;
$color-black: rgb(35, 35, 35);
$color-success: #a8d16a;
$color-error: #c40000;

//Fonts Colors
$font-color-primary: #232323;
$font-color-secondary: #ffffff;

//Fonts 
$font-text-caveat: 'Caveat', serif;
$font-text-oswald: 'Oswald', sans-serif;
$font-text-montserrat: 'Montserrat', sans-serif;